@import "../../../../styles.scss";


.footer {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 800;
    height: 10%;
    width: 100%;
    background-color: $color-blue;
    color: white;
    text-align: center;
    align-items: center;
}